<div class="banner-div">
  <div class="container mx-auto h-full flex flex-col justify-center text-white">
    <h1 class="text-white text-5xl text-center">We work with image data</h1>
    <ul class="flex items-center justify-center mt-8 flex-wrap">
      <li class="text-lg border border-white px-3 py-2">Pre-processing</li>
      <li class="text-lg border border-white px-3 py-2">Segmentation</li>
      <li class="text-lg border border-white px-3 py-2">Analysis</li>
      <li class="text-lg border border-white px-3 py-2">
        Research&nbsp;Data&nbsp;Management
      </li>
    </ul>
  </div>
</div>
