<div class="banner-div">
  <div class="container mx-auto h-full flex flex-col justify-center text-white">
    <h1 class="text-blue-400 text-2xl lg:text-3xl text-center leading-10">
      <span
        class="uppercase text-5xl lg:text-7xl text-grey-700"
        style="font-family: 'Gridbug', sans-serif"
        >Image Data</span
      >
    </h1>
    <ul class="flex items-center justify-center mt-8 flex-wrap text-blue-400">
      <li class="p-2 uppercase text-sm font-bold trackig-wider">
        Pre-processing
      </li>
      <li class="p-2 uppercase text-sm font-bold trackig-wider">
        Segmentation
      </li>
      <li class="p-2 uppercase text-sm font-bold trackig-wider">Analysis</li>
      <li class="p-2 uppercase text-sm font-bold trackig-wider">
        Data&nbsp;Management
      </li>
    </ul>
  </div>
</div>
