div.home-layout {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  position: relative;
  scroll-behavior: smooth;
  @apply flex flex-col;

  div.content-wrapper {
    @apply flex flex-col flex-1;
    div.banner-div {
      @apply px-8;
      @screen lg {
        @apply px-0;
      }
      height: 65vh;
      background: url("/assets/images/temporary_splash.jpg");
      background-size: cover;
      background-position: center;

      ul {
        li {
          background: rgba(white, 0.1);
          @apply w-full mt-2;

          @screen lg {
            @apply w-auto mx-2 mt-0;
          }
        }
      }
    }

    div.main-content {
      section {
        h1 {
          @apply uppercase text-2xl tracking-wide text-grey-700;
          @apply border-b-2 border-blue-400 pb-2 mb-6;
          width: fit-content;
        }

        p {
          @apply text-lg leading-8 text-grey-600;
        }
      }

      section.projects-section {
        @apply px-6 py-12;
        @screen lg {
          @apply w-2/3 mx-auto py-12;
        }
        div.masonry-grid {
          @screen lg {
            @apply px-6;
          }

          div.project-box {
            @apply transition ease-in-out duration-200;
            cursor: pointer;

            div.project-description {
              @apply p-6;
              @apply bg-blue-400 text-white;
              h2 {
                @apply text-blue-50 uppercase text-xl tracking-wide;
                transition: inherit;
              }

              p.text-description {
                @apply tracking-normal text-base text-blue-700;
                @apply mt-4;
              }

              p.project-tags {
                @apply flex items-center justify-start mt-8 flex-wrap;
                span {
                  @apply px-2 py-1 uppercase text-blue-100 text-xs border bg-blue-300 border-blue-200 tracking-widest;
                }
              }
            }
          }

          div.project-box:hover {
            @apply transition ease-in-out duration-200 shadow-2xl;

            div.project-description {
              h2 {
                @apply text-white;
                transition: inherit;
              }

              p.text-description {
                @apply text-blue-900;
                transition: inherit;
              }
            }
          }
        }
      }

      section.data-storage-section {
        @apply grid grid-cols-1 gap-12 px-6 py-12;
        .server-box {
          @apply w-32 h-32 flex items-center justify-center flex-col;
          @apply bg-blue-400;
        }

        @screen lg {
          @apply grid-cols-2 gap-24 px-0;
        }
      }
    }
  }
}
