div.home-layout {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  position: relative;
  scroll-behavior: smooth;
  @apply flex flex-col;

  div.content-wrapper {
    @apply flex flex-col flex-1;
    div.banner-div {
      @apply px-8;
      @screen lg {
        @apply px-0;
      }
      height: 65vh;
      background: url("/assets/images/temporary_splash.jpg");
      background-size: cover;
      background-position: center;

      ul {
        li {
          background: rgba(white, 0.1);
          @apply w-full mt-2;

          @screen lg {
            @apply w-auto mx-2 mt-0;
          }
        }
      }
    }

    div.main-content {
      @apply flex-1 px-6 py-24;

      section {
        h1 {
          @apply uppercase text-2xl tracking-wide text-grey-700;
          @apply border-b-2 border-blue-400 pb-2 mb-6;
          width: fit-content;
        }

        p {
          @apply text-lg leading-8 text-grey-600;
        }
      }

      section.projects-section {
        @apply flex flex-col;
        div.feature-box-wrapper {
          @apply grid grid-cols-1 gap-8;
          @screen lg {
            @apply grid-cols-2;
          }
          div.feature-box {
            @apply w-auto h-48 bg-grey-100;
            @apply flex flex-col items-center justify-center relative;
            overflow: hidden;
            cursor: pointer;

            img {
              @apply absolute left-0 right-0 top-0 bottom-0;
              @apply z-10;
              object-fit: cover;
              object-position: center;
            }

            div.color-overlay {
              @apply absolute left-0 right-0 top-0 bottom-0;
              @apply z-20;
              @apply transition duration-200 ease-out;
              background-color: transparentize(rgb(56, 189, 248), 0.25);
            }

            &:hover {
              div.color-overlay {
                background-color: transparentize(rgb(56, 189, 248), 0.75);
                @apply transition duration-200 ease-out;
              }
            }

            div.text-box {
              @apply absolute z-30 flex flex-col items-center justify-center;
              @apply left-0 right-0 top-0 bottom-0;

              h2 {
                @apply text-lg uppercase text-white;
                @apply border-b-2 border-blue-400 pb-2 mb-3;
                width: fit-content;
              }

              p {
                @apply text-grey-300 text-sm;
              }
            }
          }
        }

        div.feature-box-wrapper {
          order: 2;
        }

        div.text-wrapper {
          order: 1;
        }

        @screen lg {
          @apply grid grid-cols-2 gap-24;
          div.feature-box-wrapper {
            order: 1;
          }

          div.text-wrapper {
            order: 2;
          }
        }
      }

      section.data-storage-section {
        @apply grid grid-cols-1 gap-12;
        .server-box {
          @apply w-32 h-32 flex items-center justify-center flex-col;
          @apply bg-blue-400;
        }

        @screen lg {
          @apply grid-cols-2 gap-24;
        }
      }
    }
  }
}
