div.home-layout {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  position: relative;
  scroll-behavior: smooth;
  @apply flex flex-col;

  div.content-wrapper {
    @apply flex flex-col flex-1;
    div.banner-div {
      height: 65vh;
      background: url("/assets/images/temporary_splash.jpg");
      background-size: cover;
      background-position: center;
    }

    div.main-content {
      @apply flex-1 px-6 py-20;

      section {
        h1 {
          @apply uppercase text-2xl tracking-wide text-grey-700;
          @apply border-b-2 border-blue-400 pb-2 mb-6;
          width: fit-content;
        }

        p {
          @apply text-lg leading-8 text-grey-600;
        }
      }
    }
  }
}
