div.navbar {
  @apply border-b border-grey-200;
  nav {
    @apply flex items-center justify-between;

    h5 {
      @apply uppercase tracking-wider;
    }

    ul {
      @apply hidden;
      @screen lg {
        @apply flex items-center justify-end;
      }
      li {
        @apply h-full flex items-center;
        @apply transition duration-200;

        a {
          @apply px-8 h-full flex items-center justify-center text-grey-600;
          transition: inherit;
        }
      }

      li:hover {
        background: rgb(255, 255, 255);
        background: linear-gradient(
          0deg,
          rgba(255, 255, 255, 1) 0%,
          rgba(121, 211, 252, 1) 100%
        );

        @apply transition duration-200;
        a {
          @apply text-grey-700;
          transition: inherit;
        }
      }
    }
  }

  @apply sticky left-0 right-0 top-0;
  @apply bg-white;
  z-index: 500;
}
