<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
    <title>{{ site.title }}</title>
  </head>
  <body>
    <div class="home-layout">
      {% include navbar.html %}
      <div class="content-wrapper">
        {% include home_banner.html %}
        <div class="main-content container mx-auto">
          <section class="projects-section">
            <div class="feature-box-wrapper">
              {% assign featured_posts = site.posts | where: 'featured', true %}
              {% for post in featured_posts %}
              <div class="feature-box">
                <div class="text-box">
                  <h2>{{ post.title }}</h2>
                  <p>{{ post.tags }}</p>
                </div>
                <img
                  src="https://source.unsplash.com/640x480?abstract"
                  alt=""
                />
                <div class="color-overlay"></div>
              </div>
              {% endfor %}
            </div>

            <div class="text-wrapper">
              <h1>Image Analysis Projects</h1>
              <p class="w-full lg:w-2/3">
                We provide analysis support for researchers to extract
                meaningful information from their image data using a variety of
                software tools, artificial intelligence, programming, and
                automation.
              </p>
            </div>
          </section>
          <hr class="my-24 border-grey-200" />
          <section class="data-storage-section">
            <div class="flex flex-col items-start lg:items-end">
              <img
                src="/assets/images/logo_omero.svg"
                alt="OMERO logo"
                class="h-6 lg:h-8 w-auto"
              />
              <img
                src="/assets/images/logo_bioformats.svg"
                alt="Bio-Formats logo"
                class="h-6 lg:h-8 w-auto mt-4"
              />
              <!-- <div class="flex mt-4">
                <div class="server-box">1</div>
                <div class="server-box">2</div>
              </div> -->
            </div>
            <div>
              <h1>Research Data Management</h1>
              <p class="lg:w-2/3">
                We maintain production-level OMERO servers for storage of image
                data intended for research and educational use.
              </p>
            </div>
          </section>
        </div>
        {% include footer.html %}
      </div>
    </div>
  </body>
</html>
