<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
    <title>{{ site.title }}</title>
  </head>
  <body>
    <div class="home-layout">
      {% include navbar.html %}
      <div class="content-wrapper">
        <section class="banner-section">
          <div
            class="
              container
              mx-auto
              h-full
              flex flex-col
              justify-center
              text-white
            "
          >
            <h1>We work with image data</h1>
          </div>
        </section>
        <section class="main-content container mx-auto">main content</section>
        {% include footer.html %}
      </div>
    </div>
  </body>
</html>
